* {
  font-family: Helvetica, Arial, sans-serif;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 64px 1fr;
  grid-template-columns: 2fr 10fr;

  width: 1024px;
  margin: 0 auto;
}


.app-wrapper-content {
  grid-area: c;
  background-color: rgb(255, 255, 255);
}


